classesdemo.ipynb
elipse.ipynb
Projeto.ipynb
Projeto2.ipynb
vizinhos_mais_proximos.ipynb


# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribuição/Pacotes
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/
ENV.bak/
venv.bak/
env.bak/

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Configurações de sistema
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos de banco de dados locais
*.sqlite3
*.db

# Arquivos de Jupyter Notebook
.ipynb_checkpoints/

# Arquivos temporários e backups
*.bak
*.swp
*~
